.toastify {
    z-index: 99999 !important;
}

.btn-sync {
    position: fixed;
    /* width: 300px;
    height: 160px; */
    z-index: 1030;
    top: 280px;
    right: 10px;
}

.btn-download {
    position: fixed;
    /* width: 300px;
    height: 160px; */
    z-index: 1030;
    top: 325px;
    right: 10px;
}

.btn-upload {
    position: fixed;
    /* width: 300px;
    height: 160px; */
    z-index: 1030;
    top: 370px;
    right: 10px;
}

/* @media (max-width:575.98px) {
    .card-sticky {
        margin-top: 10px;
    }
    .btn-ajukan {
        left: 60px;
    }
    .btn-sync {
        right: 60px;
    }
    .btn-target-personal {
        left: 60px;
    }
}

@media (max-width:767.98px) {
    .card-sticky {
        margin-top: 10px;
    }
    .btn-ajukan {
        left: 60px;
    }
    .btn-sync {
        left: 60px;
    }
    .btn-target-personal {
        left: 60px;
    }
}

@media (max-width:991.98px) {
    .btn-ajukan {
        width: 50px;
        height: 150px;
        left: 60px;
        right: 50px;
        top: 170px;
    }
    .btn-sync {
        width: 50px;
        height: 150px;
        left: 60px;
        right: 50px;
        top: 200px;
    }
    .btn-target-personal {
        width: 50px;
        height: 150px;
        left: 60px;
        right: 50px;
        top: 230px;
    }
}

.btn-sync .sync-holder iframe {
    width: 100%;
    height: 100%;
}

@media (max-width: 991px) {
    .btn-sync button {
        right: 50px;
        left: auto;
    }
    .btn-target-personal button {
        right: 50px;
        left: auto;
    }
}

.btn-sync .toggle-btn-sync {
    top: -50px;
    visibility: visible;
    opacity: 1;
} */

:root {
    --input-padding-x: .85rem;
    --input-padding-y: .85rem;
  }
  
  .form-signin {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto;
  }
  
  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .form-label-group > input,
  .form-label-group > label {
    padding: var(--input-padding-y) var(--input-padding-x);
  }

  .form-label-group > textarea,
  .form-label-group > label {
    padding: var(--input-padding-y) var(--input-padding-x);
  }
  
  .form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0; /* Override default `<label>` margin */
    line-height: 1.5;
    color: #cac1c1;
    cursor: text; /* Match the input under the label */
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }
  
  .form-label-group input::-webkit-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input:-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-moz-placeholder {
    color: transparent;
  }
  
  .form-label-group input::placeholder {
    color: transparent;
  }
  /** end input*/

  /** start textarea */
  .form-label-group textarea::-webkit-input-placeholder {
    color: transparent;
  }
  
  .form-label-group textarea:-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group textarea::-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group textarea::-moz-placeholder {
    color: transparent;
  }
  
  .form-label-group textarea::placeholder {
    color: transparent;
  }
  /** end textarea */
  
  .form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
  }
  
  .form-label-group input:not(:placeholder-shown) ~ label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
  }

  .form-label-group textarea:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
  }
  
  .form-label-group textarea:not(:placeholder-shown) ~ label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
  }
  
  /* Fallback for Edge
  -------------------------------------------------- */
  @supports (-ms-ime-align: auto) {
    .form-label-group > label {
      display: none;
    }
    .form-label-group input::-ms-input-placeholder {
      color: #777;
    }
    .form-label-group textarea::-ms-input-placeholder {
        color: #777;
      }

    .form-label-group select::-ms-input-placeholder {
        color: #777;
      }
  }
  
  /* Fallback for IE
  -------------------------------------------------- */
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .form-label-group > label {
      display: none;
    }
    .form-label-group input:-ms-input-placeholder {
      color: #777;
    }
    .form-label-group textarea:-ms-input-placeholder {
        color: #777;
    }
    .form-label-group select::-ms-input-placeholder {
        color: #777;
      }
  }

  table.table > thead th {
    white-space: normal !important;
    word-wrap: break-word !important;
  }
  table.table > tbody td {
    white-space: normal !important;
    word-wrap: break-word !important;
  }

  .table > tbody > tr > td {
     vertical-align: middle !important;
}

.table > tbody > tr > th {
     vertical-align: middle !important;
}

table.table > thead th {
  color: #fff !important;
  background-color: #37474f !important;
  border-color: #222c31 !important;
}

.form-label-group > select,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group select::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group select:-ms-input-placeholder {
  color: transparent;
}

.form-label-group select::-ms-input-placeholder {
  color: transparent;
}

.form-label-group select::-moz-placeholder {
  color: transparent;
}

.form-label-group select::placeholder {
  color: transparent;
}

.form-label-group select:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group select:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}