.custom-label {
  background-color: #1f77b4;
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
}

.attribute {
  font-size: 10px;
}
